#thirdsection {
  background-image: repeating-linear-gradient("../images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1px shadow #444;
  padding: 0;

}
